.wiql-error {
    border-bottom:2px dotted red;
}
.wiql-error-margin {
    background: red;
    width: 5px !important;
}
#query-results {
    font-size: 20px;
}
#query-results .error-message {
    color: red;
}
#query-result .table {
    display: table;
}
#query-results .row:hover {
    text-decoration: underline;
    background: azure;
}
#query-results .row {
    display: table-row;
    cursor: pointer;
    color: initial;
}
#query-results .cell {
    display: table-cell;
    padding-right: 20px;
}
/*Need to override icon height width attributes from parent frame icon class*/
.action-label.icon {
    height: initial;
    width: initial;
}

#header-bar .header .wiq-input {
  display: none;
}

#header-bar .header .links {
  float: right;
}