@import "colors";
#wiql-box .monaco-editor {
    $error-color: palette-accent1;
    $warn-color: palette-accent3;
    .underline {
        border-bottom: 2px dotted;
        &.wiql-error {
            @include border-bottom-color($error-color);
        }
        &.wiql-warn {
            @include border-bottom-color($warn-color);
        }
    }
    .column-color {
        width: 5px !important;
        &.wiql-error {
            @include background-color($error-color);
        }
        &.wiql-warn {
            @include border-bottom-color($warn-color);
        }
    }
}
#query-results {
    font-size: 15px;
    .error-message {
        @include color(palette-accent1);
    }
    .table {
        display: table;
    }
    .row {
        display: table-row;
        cursor: pointer;
        @include color(palette-neutral-100);
        &:hover {
            text-decoration: underline;
            @include background-color(palette-primary-tint-40);
        }
    }
    div.table a.row:nth-child(even):not(:hover) {
        @include background-color(palette-neutral-4);
    }
    .cell {
        display: table-cell;
        padding-right: 20px;
    }
}
/*Need to override icon height width attributes from parent frame icon class*/
.action-label.icon {
    height: initial;
    width: initial;
}

#header-bar .header {
    .wiq-input {
      display: none;
    }
    .links {
      float: right;
    }
}
