.wiql-error {
    border-bottom:2px dotted red;
}
.wiql-error-margin {
    background: red;
    width: 5px !important;
}
#query-results {
    font-size: 20px;
}
#query-results .error-message {
    color: red;
}
#query-results tr:hover {
    font-style: italic;
    background: azure;
}
#query-results tr {
    cursor: pointer;
}
#query-results td {
    padding-right: 20px;
}
